body > div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid black;
    width: auto;
    height: 300px;


}

div div {
    background-color: lavender;
    padding: 20px;
    margin: 5px;
}