body > div {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    width: auto;
    --height: 300px;
}
div div {
    background-color: lavender;
    padding: 70px;
    margin: 5px;
}