.contenedor-1 {
    display: flex;
    border: 1px solid black;
    width: auto;
   --height: 300px;
}
.contenedor-2 {
    display: flex;
    flex-direction: column;

}

.contenido {
    background-color: lavender;
    padding: 20px;
    margin: 4px;
}